<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>直播采集数据.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>913C971C1D0807A900371F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913C97381D0807AA00371F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913C97431D0807AA00371F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
